[submodule "practical_dsw"]
	path = practical_dsw
	url = git@github.com:elixir-luxembourg/dsw-practical.git
[submodule "practical_daisy"]
	path = practical_daisy
	url = git@github.com:elixir-luxembourg/daisy-practical.git
[submodule "dmponline-practical"]
	path = dmponline-practical
	url = https://github.com/elixir-luxembourg/dmponline-practical.git
